.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  background: #c4d8cc;
  color: black
}

.sideitem {
  background: #f7f6f6;
  margin: 10px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.sidebox {
  margin: 0px;
  width: 400px;
  height: calc(100vh - 80px);
  left: 0px;
  top: 60px;
  overflow-y: auto;
  position: fixed;
}

.pane {
  background: #f7f6f6;
  width: calc(100vw - 430px);
  height: calc(100vh - 80px);
  left: 410px;
  top: 70px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  position: fixed;
}
.paneitem {
  margin: 20px;
  height: calc(100vh - 120px);
  width: calc(100vw - 470px);
  overflow-y: auto;
  overflow-x: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
img {
  max-height: calc(100vh - 124px);
  max-width: calc(100vw - 474px);
}
.home {
  background-image: url("/pexels-photo-414171.jpeg");
  background-size: cover;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
}
a {
  color: #208cf7;
}
.photo-details {
  margin: 3px 0px 0px 15px;
}
.button-box {
  margin: 20px 0px 0px 0px;
}
h3 {
  margin: 20px 0px 5px 0px;
}
.btn {
  border-radius: 8px;
  padding: 2px 7px;
  margin: 3px;
}
.alb, .ui.left.pointing.label.lbl-alb {
 color: darkorchid;
 border-color: darkorchid;
}
.alb:hover, .ui.left.pointing.label.lbl-alb-act {
  color: white;
  background: darkorchid;
}
.tag, .ui.left.pointing.label.lbl-tag {
  color: #208cf7;
  border-color: #208cf7;
}
.tag:hover, .ui.left.pointing.label.lbl-tag-act {
  color: white;
  background: #208cf7;
}
.per, .ui.left.pointing.label.lbl-per {
  color: green;
  border-color: green;
}
.per:hover, .ui.left.pointing.label.lbl-per-act {
  color: white;
  background: green;
}
.loc, .ui.left.pointing.label.lbl-loc {
  color: darkorange;
  border-color: darkorange;
}
.loc:hover, .ui.left.pointing.label.lbl-loc-act {
  color: white;
  background: darkorange;
}
.buff {
  margin-right: 17px;
}


/* Semantic over-write */
.ui.card {
  margin: 10px!important;
  width: 200px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.homeimage {
  background-image: url("/Photo organizer large.png");
  width: 800px;
  height: 200px;
  margin: 0px;
  border-radius: 20px;
}
.column.homecontent {
  height: 70vh;
  padding: 0px!important;
  background: rgba(0,0,0,0);
}
.homebuttonbox {
  background: rgba(0,0,0,0.3);
  border-radius: 10px;
  height: 100px;
  width: 430px;
  text-align: center;
  margin: auto;
}
.homespacer {
  height: calc(70vh - 300px);
}
.ui.huge.button {
  width: 150px;
  margin: 24px;
}
.grid.homebox {
  margin: auto;
  width: 800px;
  height: 100vh;
}
.ui.ten.cards {
  margin: 0px;
}
.field {
  margin-top: 10px!important;
}
.ui.button {
  margin-right: 10px;
}
.item {
  padding: 0px 15px!important;
}
.nopad {
  padding: 0px!important;
}
.ui.menu {
  background: rgba(0,0,0,0.2)!important;
  position: sticky;
  z-index: 9;
}
.ui.menu.loggedin {
  background: #487158!important;
}
.column {
  background: rgba(0,0,0,0.3);
  border-radius: 10px;
}
