.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  background: #c4d8cc;
  color: black
}

.sideitem {
  background: #f7f6f6;
  margin: 10px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.sidebox {
  margin: 0px;
  width: 500px;
  height: calc(100vh - 80px);
  left: 0px;
  top: 60px;
  overflow-y: auto;
  position: fixed;
}

.pane {
  background: #f7f6f6;
  width: calc(100vw - 530px);
  height: calc(100vh - 80px);
  left: 510px;
  top: 70px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  position: fixed;
}
.paneitem {
  margin: 20px;
  height: calc(100vh - 120px);
  width: calc(100vw - 570px);
  overflow-y: auto;
  overflow-x: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.fade-in {
  -webkit-animation: 3s ease 0s normal forwards 1 fadein;
  animation: 3s ease 0s normal forwards 1 fadein;
}
@keyframes fadein{
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes fadein{
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:1; }
}

.error-user {
  background: #cc1818;
  color: white;
  width: 95%;
  margin: auto;
  font-size: 16px;
  line-height: 30px;
  position: relative;
  top: -15px;
  border-radius: 0px 0px 15px 15px;
}

img {
  max-height: calc(100vh - 124px);
  max-width: calc(100vw - 574px);
}
.hidden {
  display: none;
}
.home {
  background-image: url("/pexels-photo-414171.jpeg");
  background-size: cover;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
}
a {
  color: #208cf7;
}
.side-header {
  font-size: 24px;
  font-weight: bold;
  width: 325px;
  height: 40px;
  line-height: 40px;
  margin-bottom: 10px;
  display: inline-block;
}
.side-box {
  width: 250px;
  display: inline-block;
  height: 40px;
  font-size: 18px;
  line-height: 40px;

}
.lbl-deet {
  display: inline-block;
  margin: 20px 7px 5px 0px;
  font-weight: bold;
  font-size: 20px;
}
.details {
  margin: 3px 0px 0px 15px;
  font-size: 16px;
}
.details .ui.input>input {
  width: 420px;
  padding: 7px 10px;
}
.button-box {
  margin: 20px 0px 0px 0px;
}
.btn-join {
  margin: 0px;
  padding: 0px;
  display: inline-block;
}
.btn-f, .btn-l, .btn-r {
  font-weight: bold;
  cursor: pointer;
  padding: 3px 7px;
  border-radius: 10px;
  border: 1px solid;
  margin: 3px 3px 3px 8px;
}
.btn-l {
  padding: 3px 5px 3px 10px;
  border-radius: 10px 0px 0px 10px;
  margin: 3px 0px 3px 3px;
  border-right: none;
}
.btn-r {
  padding: 3px 7px 3px 5px;
  border-radius: 0px 10px 10px 0px;
  margin: 3px 3px 3px 0px;
  border-left: none;
}
.btn-r:hover {
  background: #b30000!important;
}
.count-clear {
  height: 40px;
}
.counter {
  display: inline-flex;
  width: 280px;
  line-height: 35px;
  font-size: 20px;
  font-weight: bold;
}
.btn-clear {
  display: inline-flex;
}
.albums, .ui.left.pointing.label.lbl-alb {
 color: darkorchid;
 border-color: darkorchid;
}
.albums:hover, .ui.left.pointing.label.lbl-alb-act {
  color: white;
  background: darkorchid;
}
.tags, .ui.left.pointing.label.lbl-tag {
  color: #208cf7;
  border-color: #208cf7;
}
.tags:hover, .ui.left.pointing.label.lbl-tag-act {
  color: white;
  background: #208cf7;
}
.people, .ui.left.pointing.label.lbl-per {
  color: green;
  border-color: green;
}
.people:hover, .ui.left.pointing.label.lbl-per-act {
  color: white;
  background: green;
}
.location, .ui.left.pointing.label.lbl-loc {
  color: darkorange;
  border-color: darkorange;
}
.location:hover, .ui.left.pointing.label.lbl-loc-act {
  color: white;
  background: darkorange;
}
.mod {
  color: darkgray;
  border-color: darkgray;
}
.mod:hover {
  color: white;
  background: darkgray;
}
.buff {
  margin-right: 17px;
}
.detail-form {
  margin-left: 20px;
}
.input-detail {
  font-size: 14px;
  margin: 0px 10px 0px 0px;
  padding: 10px;
  width: 310px;
}
div.inline.field {
  margin: 12px 0px!important;
}
div.ui.selection.dropdown {
  width: 310px;
  margin: 0px 10px 0px 0px;
}


/* Semantic over-write */
.ui.form .inline.field>.selection.dropdown {
  width: 300px;
}
.ui.card {
  margin: 10px!important;
  width: 200px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.homeimage {
  background-image: url("/Photo organizer large.png");
  width: 800px;
  height: 200px;
  margin: 0px;
  border-radius: 20px;
}
.column.homecontent {
  height: 70vh;
  padding: 0px!important;
  background: rgba(0,0,0,0);
}
.homebuttonbox {
  background: rgba(0,0,0,0.3);
  border-radius: 10px;
  height: 100px;
  width: 430px;
  text-align: center;
  margin: auto;
}
.homespacer {
  height: calc(70vh - 300px);
}
.ui.huge.button {
  width: 150px;
  margin: 24px;
}
.grid.homebox {
  margin: auto;
  width: 800px;
  height: 100vh;
}
.ui.ten.cards {
  margin: 0px;
}
.field {
  margin-top: 10px!important;
}
.ui.button {
  margin-right: 10px;
}
.item {
  padding: 0px 15px!important;
}
.nopad {
  padding: 0px!important;
}
.ui.menu {
  background: rgba(0,0,0,0.2)!important;
  position: sticky;
  z-index: 9;
}
.ui.menu.loggedin {
  background: #487158!important;
}
.column {
  background: rgba(0,0,0,0.3);
  border-radius: 10px;
}
